body{
    background-color: #BDE6F1;
}


.rectangle-container{
    width: 320px;
    height: auto;
    margin: 200px auto 200px auto;
    background-color: white;
    border-radius: 8px;
}

.qr-image{
    width: 300px;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    
}

h2{
    display: inline-block;
    width: 300px;
    text-align: center;
    padding-left: 10px;
    margin: 15px auto 20px auto;
}

p{
    display: inline-block;
    width: 250px;
    padding-bottom: 50px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
}